<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="fragments/userHeader :: correctHeadFragment" th:with="title=#{profile.title.surveys}"/>

<body style="background-color: #2d4c63">
<div class="row main-row">
    <div class="col-3" style="padding-left: 25px; border-right: 3px solid gainsboro">
        <div class="row row-space-25">
            <div class="col-12"></div>
        </div>
        <div th:replace="fragments/userLeftMenu :: userLeftMenuSurvey"/>
    </div>
    <div class="col-9 justify-content-center">
        <div class="row row-space-15">
            <div class="col-12">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 style="color: whitesmoke" th:text="#{profile.surveys.table.caption}"/>
                </div>
            </div>
            <div class="row">
                <div class="admin-panel-content-table-wrapper col-10 p-0">
                    <table class="table table-lg">
                        <thead>
                        <tr>
                            <th th:text="#{profile.surveys.column.name}" width="250px"/>
                            <th th:text="#{profile.surveys.column.date}" width="170px"/>
                            <th width="150px"/>
                        </tr>
                        </thead>
                        <th:block th:each="surveyLaunch : ${activeSurveysLaunches}">
                            <tr>
                                <td th:text="${surveyLaunch.survey.name}" class="align-middle"/>
                                <td th:text="${#dates.format(surveyLaunch.createdDate, 'yyyy-MM-dd HH:mm')}"
                                    class="align-middle"/>
                                <td class="text-center">
                                    <a th:href="@{/profile/surveys/pass/{surveyLaunchId}(surveyLaunchId=${surveyLaunch.id})}"
                                       th:text="#{profile.surveys.button.pass}"
                                       class="btn btn-success btn-lg"/>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
                <div class="row row-space-5">
                    <div class="col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>