<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div th:fragment="usersLeftMenu">
    <div class="row" style="padding-bottom: 10px;">
        <form class="col-md-12" action="#" th:action="@{/adminPanel/users/relationsProfToSub}" method="get">
            <button type="submit" class="btn section-buttons"
                    th:text="#{page.users.button.relation}">
                Relation
            </button>
        </form>
    </div>
    <div class="row" style="padding-bottom: 10px;">
        <form class="col-md-12" action="#" th:action="@{/adminPanel/users/uploadUsers}" method="get">
            <button type="submit" class="btn section-buttons"
                    th:text="#{page.users.button.upload.users}">Upload users
            </button>
        </form>
    </div>
    <div class="row" style="padding-bottom: 10px;">
        <form class="col-md-12" action="#" th:action="@{/adminPanel/addUser}" method="get">
            <button type="submit" class="btn section-buttons"
                    th:text="#{page.users.button.add.user}" disabled="disabled">Add user
            </button>
        </form>
    </div>
</div>
</body>
</html>