<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="correctHeadFragment">
    <meta charset="UTF-8"/>
    <title th:text="${title}"/>

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/terminal.css}"/>

    <script type="text/javascript"
            src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="/webjars/underscorejs/1.8.3/underscore-min.js"></script>
</head>

<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>

        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <link rel="stylesheet" th:href="@{/css/terminal.css}"/>
        <link rel="stylesheet" type="text/css"
              href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <script type="text/javascript"
            src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="/webjars/underscorejs/1.8.3/underscore-min.js"></script>
    <div>
        <form action="#" th:action="@{/}" method="get">
            <button type="submit" class="btn-primary btnlogout"><p th:text="#{ru.button.default.text.quit}">
                quit
            </p></button>
        </form>
    </div>
</div>


</body>
</html>